﻿@{
    ViewBag.Title = "Home Page";
}

<iframe id="iframe1" src="https://inovacao.orquestraecm.com.br/release_21301/silentlogin.sml?protocol=@ViewBag.Protocol" width="100%" height="380px" scrolling="no"></iframe>
<iframe id="iframe2" src="https://inovacao.orquestraecm.com.br/release_21301/silentlogin.sml?protocol=@ViewBag.Protocol" width="100%" height="380px" scrolling="no"></iframe>